* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}



.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid whitesmoke;
    border-radius: 50%;

}

.container .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .icon .imagBox {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
    transition: 0.5s;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 335px;
}

.container .icon .imagBox.active {
    box-shadow: 0 0 0 4px #222, 0 0 0 12px #2196f3;
}

.container .icon .imagBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: wheat;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
    filter: grayscale();
}

.container .icon .imagBox.active img {
    filter: grayscale(0);
}

/* Content Text  */
.content {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.content::before {
    content: '';
    position: absolute;
    inset: 100px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3;
    border-right: 4px solid #2196f3;
    border-radius: 50%;
    animation: animate_rotate_reverse 3s linear infinite;
}

.content::after {
    content: '';
    position: absolute;
    inset: 150px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-radius: 50%;
    animation: animate_rotate 3s linear infinite;
}

@keyframes animate_rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes animate_rotate_reverse {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}